

<!------------------------------------------------- header ---------------------------------------------->

<nav class="navv">
    <div class="text-center fw-bolder py-2">{{ course.title }} course</div>
</nav>

<!------------------------------------------------- courses ---------------------------------------------->
<div class="container-fluid mt-4 px-4">


                        <ul class="nav nav-tabs nav-tabs-bordered">
                        
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#course">Courses</button>
                            </li>
                        
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#test">Tests</button>
                            </li>
                        
                        </ul>
                        <div class="tab-content pt-2">
<!------------------------------------------------- chapters part ---------------------------------------------->

                            <div class="tab-pane fade show active" id="course">
                                <div class="d-grid">
                                    <div ngbAccordion [closeOthers]="true">
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>General</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addChapter,0,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>title</th>
                                                        <th>lien</th>
                                                    </tr>
                                                </thead>
                                                @for (chapter of filterchapters(course.chapters,0); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ chapter?.title }}</td>
                                                        <td>{{ chapter?.lien }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditChapterModal(editChapterr,0,course.id,chapter)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteChapter(chapter.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 1</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addChapter,1,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>title</th>
                                                        <th>lien</th>
                                                    </tr>
                                                </thead>
                                                @for (chapter of filterchapters(course.chapters,1); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ chapter?.title }}</td>
                                                        <td>{{ chapter?.lien }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditChapterModal(editChapterr,1,course.id,chapter)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteChapter(chapter.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 2</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addChapter,2,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>title</th>
                                                        <th>lien</th>
                                                    </tr>
                                                </thead>
                                                @for (chapter of filterchapters(course.chapters,2); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ chapter?.title }}</td>
                                                        <td>{{ chapter?.lien }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditChapterModal(editChapterr,2,course.id,chapter)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteChapter(chapter.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 3</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addChapter,3,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>title</th>
                                                        <th>lien</th>
                                                    </tr>
                                                </thead>
                                                @for (chapter of filterchapters(course.chapters,3); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ chapter?.title }}</td>
                                                        <td>{{ chapter?.lien }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditChapterModal(editChapterr,3,course.id,chapter)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteChapter(chapter.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!------------------------------------------------- Test part ---------------------------------------------->
                            <div class="tab-pane fade" id="test">
                                <div class="d-grid">
                                    <div ngbAccordion [closeOthers]="true">
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>General</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addtestt,0,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>question</th>
                                                        <th>response</th>
                                                    </tr>
                                                </thead>
                                                @for (test of filtertests(course.tests,0); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ test?.question }}</td>
                                                        <td>{{ test?.response_correct }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditTestModal(edittestt,0,course.id,test)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteTest(test.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 1</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addtestt,1,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>question</th>
                                                        <th>response</th>
                                                    </tr>
                                                </thead>
                                                @for (test of filtertests(course.tests,1); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ test?.question }}</td>
                                                        <td>{{ test?.response_correct }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditTestModal(edittestt,1,course.id,test)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteTest(test.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 2</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addtestt,2,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>question</th>
                                                        <th>response</th>
                                                    </tr>
                                                </thead>
                                                @for (test of filtertests(course.tests,2); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ test?.question }}</td>
                                                        <td>{{ test?.response_correct }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditTestModal(edittestt,2,course.id,test)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteTest(test.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                        <div ngbAccordionItem class="my-1 shadow-sm">
                                            <div ngbAccordionHeader class="accordion-button custom-header justify-content-between py-0">
                                            <p class="my-0 py-3 w-100" ngbAccordionToggle>Level 3</p>
                                            </div>
                                            <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            <ng-template>
                                            <button class="btn btn-sm btn-info" (click)="openSm(addtestt,3,course.id)">add</button>
                                            <table class="table table-striped table-hover table-responsive mt-2">
                                                <thead>
                                                    <tr class="border-top">
                                                        <th>question</th>
                                                        <th>response</th>
                                                    </tr>
                                                </thead>
                                                @for (test of filtertests(course.tests,3); track $index) {
                                                <tbody>
                                                    <tr>
                                            
                                                        <td>{{ test?.question }}</td>
                                                        <td>{{ test?.response_correct }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm m-0 p-0" (click)="openEditTestModal(edittestt,3,course.id,test)"><i class="bi bi-pencil-square mx-2"></i></button>
                                                            <button class="btn btn-sm m-0 p-0"><i class="bi bi-trash3 ms-2" (click)="deleteTest(test.id)"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                }
                                            </table>
                                            </ng-template>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
                        
<!------------------------------------------------- add chapter ---------------------------------------------->

<ng-template #addChapter let-modal>
    <div class="modal-header pb-0 pt-2">
        <h6 class="fw-bold">add course</h6>
        <button type="button" class="btn-close" style="width: 6px; height: 3px; margin-bottom: 3px;" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="NewChapter" (ngSubmit)="addChapterr()">
    <div class="modal-body">
    <div class="row justify-content-between my-2">
    <label class="col-4 col-form-label" for="title">title</label>
    <div class="col-8">
        <input class="form-control" type="text"  name="title" formControlName="title">
    </div>
    </div>
    <div class="row justify-content-between my-2">
        <label class="col-4 col-form-label" for="lien">lien</label>
        <div class="col-8">
            <input class="form-control" type="text" name="lien" formControlName="lien">
        </div>
    </div>
</div>
<div class="modal-footer pb-1 pt-1">
    <button type="button" class="btn btn-sm btn-secondary rounded-3"
    (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-sm btn-primary rounded-3" type="submit" value="Submit">Add</button>
    </div>
</form>
</ng-template>


<!------------------------------------------------- edit chapter ---------------------------------------------->

<ng-template #editChapterr let-modal>
    <div class="modal-header pb-0 pt-2">
        <h6 class="fw-bold">add course</h6>
        <button type="button" class="btn-close" style="width: 6px; height: 3px; margin-bottom: 3px;" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="EditChapter" (ngSubmit)="editChapter()">
        <div class="modal-body">
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="title">title</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="title" formControlName="title">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="lien">lien</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="lien" formControlName="lien">
                </div>
            </div>
        </div>
        <div class="modal-footer pb-1 pt-1">
            <button type="button" class="btn btn-sm btn-secondary rounded-3"
                (click)="modal.close('Close click')">Close</button>
            <button class="btn btn-sm btn-primary rounded-3" type="submit" value="Submit">Update</button>
        </div>
    </form>
</ng-template>


<!------------------------------------------------- add test ---------------------------------------------->

<ng-template #addtestt let-modal>
    <div class="modal-header pb-0 pt-2">
        <h6 class="fw-bold">add course</h6>
        <button type="button" class="btn-close" style="width: 6px; height: 3px; margin-bottom: 3px;" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="NewTest" (ngSubmit)="addTest()">
        <div class="modal-body">
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="question">question</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="question" formControlName="question">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_1">response 1</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_1" formControlName="response_1">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_2">response 2</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_2" formControlName="response_2">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_3">response 3</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_3" formControlName="response_3">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_4">response 4</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_4" formControlName="response_4">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_correct">response coreect</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_correct" formControlName="response_correct">
                </div>
            </div>

        </div>
        <div class="modal-footer pb-1 pt-1">
            <button type="button" class="btn btn-sm btn-secondary rounded-3"
                (click)="modal.close('Close click')">Close</button>
            <button class="btn btn-sm btn-primary rounded-3" type="submit" value="Submit">Add</button>
        </div>
    </form>
</ng-template>

<!------------------------------------------------- edit est ---------------------------------------------->
<ng-template #edittestt let-modal>
    <div class="modal-header pb-0 pt-2">
        <h6 class="fw-bold">add course</h6>
        <button type="button" class="btn-close" style="width: 6px; height: 3px; margin-bottom: 3px;" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="editTestForm" (ngSubmit)="editTest()">
        <div class="modal-body">
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="question">question</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="question" formControlName="question">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_1">response 1</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_1" formControlName="response_1">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_2">response 2</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_2" formControlName="response_2">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_3">response 3</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_3" formControlName="response_3">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_4">response 4</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_4" formControlName="response_4">
                </div>
            </div>
            <div class="row justify-content-between my-2">
                <label class="col-4 col-form-label" for="response_correct">response coreect</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="response_correct" formControlName="response_correct">
                </div>
            </div>
        </div>
        <div class="modal-footer pb-1 pt-1">
            <button type="button" class="btn btn-sm btn-secondary rounded-3"
                (click)="modal.close('Close click')">Close</button>
            <button class="btn btn-sm btn-primary rounded-3" type="submit" value="Submit">Update</button>
        </div>
    </form>
</ng-template>