<body>
    <header class="bg">
        <div class="overlay">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
            <a class="title me-5" routerLink="/" >E-Learning</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li><a class="nav-titles nav-link me-5" routerLink="/">Home</a></li>
                    <li><a class="nav-titles nav-link me-5" routerLink="/about">About</a></li>
                    <li><a class="nav-titles nav-link me-5" routerLink="/contact">Contact</a></li>
                    <li><a class="nav-titles nav-link me-5" routerLink="/sign-in">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto position-relative">
                        <div class="site-heading">
                            <h1>E-learning</h1>
                            <span class="subheading mt-4">For Better Education And Help Students Increase Their
                                Level</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mt-5">
        <div class="row" style="margin: 1px;">
            <div class="col-md-10 col-lg-8 offset-1 offset-xxl-1" style="width: 787px;">
                <div class="post-preview">
                    <h2 class="post-title">Courses</h2>
                </div>
                <hr style="width: 960px;">
            </div>
        </div>
    </div><!-- Start: Articles Cards -->

    <div class="container py-5">
        <div class="row justify-content-between pb-3">
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/web.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Web programing</li>
                            <li class="fs-6">Dr. Hicham Zougagh</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/bd.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Data base</li>
                            <li class="fs-6">Dr. Mourad Nachaoui</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/java.jpeg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Java</li>
                            <li class="fs-6">Dr. Rachid El Ayachi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 31px 0px;height: 0px;">
        <div class="row justify-content-between py-3">
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/si.png">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Computer System</li>
                            <li class="fs-6">Dr. Najlae Ldrissi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/reseau.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Computer Network</li>
                            <li class="fs-6">Dr. Mohamed Baslam</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/ms project.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Project management</li>
                            <li class="fs-6">Dr. Abdelali Elmoufidi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 31px 0px;height: 0px;">
        <div class="row justify-content-between pt-3">
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/uml.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Unified Modeling Language</li>
                            <li class="fs-6">Dr. Abdellatif Hair</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/JavaEE.png">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">JEE</li>
                            <li class="fs-6">Dr. Youssef Elmourabit</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4"
                style="width: 320.988px;box-shadow: 2px 2px 20px 2px rgb(160, 160, 160);transform: translate(34px);border-radius: 15px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                        src="../../assets/imgs/oracle-logo.jpg">
                    <div class="card-body py-5 my-3 ps-0">
                        <ul>
                            <li class="card-title fw-bolder h6">Oracle</li>
                            <li class="fs-6">Dr. Mohammed Erritali</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: Articles Cards -->

    <footer class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <ul class="list-inline text-center justify-content-between">
                        <li class="list-inline-item"><i class="bi bi-facebook" style="font-size: 44px;"></i></li>
                        <li class="list-inline-item"><i class="bi bi-twitter-x" style="font-size: 44px;"></i></li>
                        <li class="list-inline-item"><i class="bi bi-github" style="font-size: 44px;"></i></li>
                    </ul>
                </div>
                <div class="text-muted copyright text-center">Copyright&nbsp;© E--Learning 2024</div>
            </div>
        </div>
    </footer>
</body>